<VirtualHost *:80>
    ServerAdmin webmaster@localhost

    DocumentRoot {{ app_dir }}
    <Directory {{ app_dir }}>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog {{ app_dir }}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel debug

    CustomLog {{ app_dir }}/access.log combined
</VirtualHost>
